html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    max-width: 2560px;
}

.heading {
    font-family: 'Righteous', cursive;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-shadow: 0 5px 0 #ece3ae;
    margin: 0.5rem 0;
    text-align: center;
}

.game-area {
    background-color: #ece3ae;
    padding: 1.5rem 0;
    border-radius: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

.img-container img {
    width: 12rem;
    height: 12rem;
}

.image-label {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.message-area .game-result {
    font-weight: bolder;
}

.message-area .round-result {
    font-weight: bolder;
}

.message-area p {
    font-size: 1.25rem;
    margin: 0;
}

.score-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.5rem;
}

.score-area :first-child {
    margin-right: 2rem;
}

.scores {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 1px solid rgba(0, 0, 0, 0.189);
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.instructions {
    font-size: 1.25rem;
    padding: 1rem 0;
    text-align: center;
    border: 0.25rem solid #ece3ae;
    border-radius: 1rem;
    margin: 1rem 0;
    width: 90vw;
}

.instructions h2 {
    font-size: 1.5rem;
    margin: 0;
}

.instructions p {
    margin: 0;
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
